{
    "name": "board",
    "account_id": "",
    "main": "./.svelte-kit/cloudflare/_worker.js",
    "assets": {
        "directory": "./.svelte-kit/cloudflare"
    },
    "compatibility_date": "2025-07-11",
    "observability": {
        "enabled": true
    },
    "d1_databases": [
        {
            "binding": "D1_DB",
            "database_name": "board",
            "database_id": "",
            "migrations_dir": "./drizzle"
        }
    ],
    "compatibility_flags": [
        "nodejs_compat"
    ]
}